{% extends 'base.html.twig' %}

{% block title %}Edit Disc{% endblock %}

{% block body %}
    <h1>Edit Disc</h1>

    {{ include('disc/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('app_disc_index') }}">back to list</a>
    
    <br>

    <div class="btn btn-danger btn-sm">
        {{ include('disc/_delete_form.html.twig') }}
    </div>
{% endblock %}
