{% extends 'base.html.twig' %}

{% block title %}Disc index
{% endblock %}

{% block body %}
	<h1>Disc index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Url</th>
			</tr>
		</thead>
		<tbody>
			{% for artist in artists %}
				<tr>
					<td>{{ artist.id }}</td>
					<td>{{ artist.name }}</td>
					<td>{{ artist.url }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

